.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  $side_are_width: 150px;

  top: 0;
  z-index: 2;

  background-color: $primary;
  background-color: #006fb5;

  a {
    color: #fff !important;

    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .2);

    &.brand {
      z-index: 1;
      width: $side_are_width;
      img {

      }
    }
  }

  nav + div:last-child {
    width: $side_are_width;
  }
}