$bg-header: $brand-primary;

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  $side_are_width: 150px;
  top: 0;
  z-index: 2;
  background-color: $bg-header;
  
  transition: padding 0.450s ease-in-out, opacity 0.3s ease;
  #nav_primary {
    transition: opacity 0.550s ease;
    a {
      position: relative;
    }
    a:after {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: -15px;
      left: 15px;
      width: calc(100% - 30px);
      border-bottom: 2px solid #fff;
      transition: all .250s ease;
    }
    a:hover {
      &:after {
        transition: all .250s ease;
        opacity: 1;
        bottom: 5px;
      }
    }
  }
  &.collapse_header {
    padding: 10px 0 10px !important;
  }
  &.hidden0 {
    #nav_primary {
      opacity: 0;
    }
  }

  a {
    color: #fff !important;

    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .2);

    &.brand {
      z-index: 2;
      width: ( $side_are_width/15 ) * 10;
      @include media-breakpoint-up(md) {
        width: $side_are_width;
      }
      // * {
      //   transition: opacity 0.550s ease;
      // }
      // span.logo {
      //   opacity: 0;
      // }
      // &.fade_img_show_logo {
      //   span.logo {
      //     opacity: 1;
      //   }
      //   img {
      //     opacity: 0;
      //   }
      // }
      img {
display: none;
      }
    }
  }

  nav + div:last-child {
    z-index: 2;
    width: auto;
    @include media-breakpoint-up(md) {
      width: $side_are_width;
    }
  }

  #nav_primary,
  #wp_nav_menu {
    z-index: 1;
    
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #006daf;
    }
  }
}

#category_main_header {
  top: -60px;
  left: 0;
  z-index: 9;
  transition: all .450s ease-in-out;

  &.shown {
    top: 3px;
  }

  &:hover {
    z-index: -1;
  }
}