

body > div.loading {
    @extend .position-fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    @extend .w-100;

    transition: opacity 0.35s ease;

    &.opacity-d-none {
        opacity: 0;
    }
}

.page-header {
    margin: 30px 0;
    padding: 30px 0;
    text-align: center;
}