
a {
    &.see_more {
        @extend .p-1;
        border: 1px solid $brand-primary;
        text-decoration: none !important;
        text-transform: uppercase;
        font-weight: 500;
        
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            font-size: 80%;
        }
        @include media-breakpoint-up(sm) {
            width: min-content;
        }
        
        i {
            transition: all .2s ease-in-out;
            // opacity: 0;
            margin-left: 5px;
        }
        &:hover {
            i {
                animation-name: shake;
                animation: shake 2s infinite;
                // opacity: 1;
                // margin-left: 2px;
            }
        }
    }
}

.blue-border-bottom {
    border-top: 3px solid #006daf;
    @include media-breakpoint-up(sm) {
        border-top-width: 0;
        border-bottom: 3px solid #006daf;
    }
}

.header_blue,
.header_blue_light {
  min-width: 350px;
  max-width: 750px;
  box-shadow: 0 3px 45px rgba(0, 0, 0, .15);
}

.header_blue_light {
  margin-top: 2px;
  min-height: 5px;
  background-color: #00AEEE;
}

.header_blue {
  background-color: #006daf;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 50px;
    line-height: 1.1em;
    font-weight: 700;
  }
}

body > div.loading {
    @extend .position-fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    @extend .w-100;

    transition: opacity 0.35s ease;

    &.opacity-d-none {
        opacity: 0;
    }
}

.page-header {
    margin: 30px 0;
    padding: 30px 0;
    text-align: center;
}


#recent_posts_slider {
    > div {
        overflow: hidden;
        width: 50%;
        @include media-breakpoint-up(md) {
            width: 25%;
        }

        img,
        p {
            transition: all .3s ease-in-out;
        }
        
        &:hover {
            img {
                transform: scale(1.1, 1.1);
                + p {
                    padding-bottom: 10px !important;
                    bottom: 18%;
                }
            }
        }

        p {
            bottom: 10%;
            overflow: hidden;
            max-height: 86px;

            font-size: 16px;
            @include media-breakpoint-up(sm) {
                font-size: 20px;
                // white-space: nowrap;
            }
        }
    }
}



ul.products {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .justify-content-between;
    padding-top: 90px !important;
    @extend .px-5;
    @extend .shadow-lg;
    background-color: #fff;

    list-style: none;

    li {
      position: relative;
      @extend .mb-6;

      h2 {
        position: absolute;
        bottom: -45px;
        left: 0;
        width: 100%;
      }
      &:hover {
          h2 {
              z-index: 1;
              bottom: calc( 50% - 30px ) !important;
              max-width: 100%;
              font-size: 18px;
              font-weight: 600;
              white-space: nowrap;
          }
          > a:first-child + img {
            opacity: .85;
          }
      }

      > a {
        text-decoration: none !important;
        &:first-child {
            + img {
                // display: none;
                transition: opacity 0.35s ease-in-out;
                filter: blur(8px);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }

        &.pressed img {
            transition: transform 0.25s ease-in-out;
            transform: scale(0.98);
        }

        &.button {
            display: none;
        }
      }

      h2 {
        transition: all 0.25s ease-in-out;
        text-align: center;
        text-transform: uppercase;
        @extend .small;
        color: #555;
      }
    }

    img {
      &:hover {
          // opacity: 0;
      }
      + .blurred {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #fff;
          opacity: 0;
          transition: opacity 0.3s ease;

          &:hover {
              opacity: 1 !important;
          }

          img {
              filter: blur(8px);
              -webkit-filter: blur(8px);
              opacity: 0.7;
          }
          span.product_title {
              top: 45%;
              left: 0;
              height: 0;
              span {
                  font-size: 14px;
                  font-weight: 700;
                  color: $primary;
                  text-shadow: 0 0 25px #fff;
                  + span {
                      font-size: 20px;
                      font-weight: 500;
                  }
              }
          }
      }
    }
}
