/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  // primary: #525ddc
  // primary: #29b5e8
  // primary: #00AFEF
    primary: #006fb5
  );

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );

/* increase the width of the grid lg and xl breakpoints */
// $grid-breakpoints: (
//   lg: 1024px,
//   xl: 1366px
// );
/* increase container width for the wider lg and xl breakpoints */
// $container-max-widths: (
//   lg: 1050px,
//   xl: 1400px
// );


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
);